Django==1.7.3
ExifRead==2.0.0
dropbox==2.2.0
pillow
python-social-auth
MySQL-python
-e git://github.com/jiaaro/django-badges.git/#egg=django-badges

# For tests
django-any==0.2.0
pytest==2.6.4
pytest-django==2.8.0
responses
