{% extends "base.html" %}

{% block content %}
  <div class="container">
    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu">
              <li class="gn-search-item">
                <input placeholder="Search" type="search" class="gn-search">
                <a class="gn-icon gn-icon-search"><span>Search</span></a>
              </li>
              <li>
                <a href="#how-it-works" class="gn-icon gn-icon-cog">How It Works</a>
              </li>
              <li>
                <a href="#available-tours" class="gn-icon gn-icon-download">Tours</a>
              </li>
              <li>
                <a href="#contact" class="gn-icon gn-icon-archive">Contact</a>
              </li>
            </ul>
          </div><!-- /gn-scroller -->
        </nav>
      </li>
      <li>
        <a href="index.html">Pictour</a>
      </li>
      <li>
        <ul class="company-social">
          <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <!-- <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li> -->
          <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </li>
    </ul>
	</div>

	<!-- Section: intro -->
  <section id="intro" class="intro" style="background:url('static/img/london-silhouette.svg') no-repeat center center; background-size: cover;">
    <div class="slogan">
      <h1>DropBox Pictour</h1>
      <p>
        Your data. (sends you) Everywhere.
        <!-- London from a new dimension -->
      </p>
      {% if not request.user.is_authenticated %}
      <a href="https://www.dropbox.com/1/oauth2/authorize?client_id={{ app_key }}&amp;response_type=code&amp;redirect_uri={{ redirect_url }}&amp;state={{ CSRF }}" class="btn btn-dropbox scroll">
        <i class="fa fa-dropbox"></i> Connect with Dropbox
      </a>
      {% else %}
      <a href="your-tours" class="btn btn-success scroll">
        <i class="fa fa-arrows"></i> View Your Tours!
      </a>
      {% endif %}
    </div>
  </section>
  <!-- /Section: intro -->

  <!-- Section: how-it-works -->
  <section id="how-it-works" class="home-section text-center">

    <div class="heading-about marginbot-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>How PicTour Works</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-sm-3 col-md-3">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-dropbox fa-3x"></i>
            </div>
            <div class="service-desc">
              <h5>Connect to Dropbox</h5>
              <p>
                Our hastily-assembled server will probably not delete your data.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-arrows fa-3x"></i>
            </div>
            <div class="service-desc">
              <h5>Pick a Quest</h5>
              <p>
                Find a tour to take yourself on!
                <br/>
                Your phone is your guide.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-photo fa-3x"></i>
            </div>
            <div class="service-desc">
              <h5>Take &amp; Sync Photos</h5>
              <p>Get outside and get snapping! Enable Dropbox's 'Camera Upload' feature.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-trophy fa-3x"></i>
            </div>
            <div class="service-desc">
              <h5>Win Nothing!</h5>
              <p>
                Earn meaningless gamification points so you can twit and face and plus about them!
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /Section: how-it-works -->

  <!-- Section: available-tours -->
  <section id="available-tours" class="home-section text-center bg-gray">

    <div class="heading-about marginbot-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>Tours</h2>
              <p>Select your quest from the list of available tours below!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Kitten Crawl</h5>
              <p class="subtitle">For the culture-loving thirst-quencher.</p>
              <div class="avatar">
                <img src="static/img/kitten-drink.jpg" width="300" height="300" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Cute Kitten Cruise</h5>
              <p class="subtitle">You said you wanted kittens!</p>
              <div class="avatar">
                <img src="static/img/kitten.jpg" width="300" height="300" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>Grafitti</h5>
              <p class="subtitle">Naughty Kittens</p>
              <div class="avatar">
                <img src="static/img/grafitti.jpg" width="300" height="300" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /Section: available-tours -->


	
		

	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
	
					<div class="section-heading">
					<h2>Get in touch</h2>
					<p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
					</div>
				
				</div>
			</div>
			</div>
		</div>
		<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="boxed-grey">
                <form id="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
			
			<div class="widget-contact row">
				 <div class="col-lg-6">
				<address>
				  <strong>Ninestars Ltd.</strong><br>
				  Big Villa 334 Awesome, Beautiful Suite 1200<br>
				  San Francisco, CA 94107<br>
				  <abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
				</div>
				
				<div class="col-lg-6">
				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:#">email.name@example.com</a><br />
				   <a href="mailto:#">name.name@example.com</a>
				</address>	
			
				</div>
			</div>	
        </div>

    </div>	

		</div>
	</section>
{% endblock content %}